html
  scroll-behavior: smooth

body
  font-family: 'Craftwork Grotesk', sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal
  font-size: 16px
  min-width: 428px
  color: var(--color-black)
  &.no-scroll
    overflow: hidden

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: inherit
  text-decoration: none

input, textarea, button, select
  outline: none
  border: 0
  border-radius: 0

button
  cursor: pointer

input, textarea
  background: transparent

.wrapper
  width: 100%
  margin: 0 auto
  overflow: hidden

.container
  max-width: 1330px
  width: 100%
  padding: 0 25px
  margin: 0 auto
  position: relative
  z-index: 5

.btn-wrap
  @include flexbox
  align-items: flex-start

.btn
  padding: 30px 65px
  display: block
  background: radial-gradient(173.53% 198.33% at 10.23% -99.37%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%), #EACD62
  box-shadow: inset 0px 4px 25px rgba(255, 255, 255, 0.25)
  border-radius: 10px
  font-weight: 700
  font-size: 18px
  text-align: center
  text-transform: uppercase
  color: #443F2D
  cursor: pointer
  line-height: 22px
  &-sm
    font-size: 15px
    line-height: 18px
    padding: 31px 33px

.input
  display: block
  width: 100%
  height: 80px
  border-radius: 10px
  background: #fafafa
  font-size: 16px
  font-weight: 700
  padding-left: 20px
  -webkit-appearance: none
  color: var(--color-black)
  @include placeholder
    color: rgba(38, 60, 47, 0.65)
select.input
  background-repeat: no-repeat
  background-position: right 20px center
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.86603 6.5C4.48113 7.16667 3.51887 7.16667 3.13397 6.5L0.535899 2C0.150999 1.33333 0.632124 0.499999 1.40192 0.499999L6.59808 0.5C7.36788 0.5 7.849 1.33333 7.4641 2L4.86603 6.5Z' fill='%23152B36'/%3E%3C/svg%3E%0A")

.title
  font-size: 45px
  text-transform: uppercase
  font-weight: 400
  text-align: center
  span
    font-weight: 600

.subtitle
  font-size: 20px
  font-weight: 500
  color: var(--color-gray)
  text-align: center
  line-height: 1.45
  span
    font-weight: 700

.burger
  position: fixed
  height: var(--app-height)
  top: 0
  left: 0
  right: 0
  z-index: 900
  background: #4b5662
  color: #fff
  padding-top: 100px
  opacity: 0
  pointer-events: none
  transition: .4s
  &-nav
    width: calc(100% - 80px)
    margin: 0 auto
    font-size: 20px
    line-height: 1.25
    li
      a
        display: block
        text-align: center
        padding: 15px 0
        border-bottom: 1px solid rgba(255,255,255,.1)
      &:last-child a
        border: none
  &-phone
    width: calc(100% - 80px)
    margin: 25px auto 20px
    display: block
    text-align: center
    font-size: 30px
    font-weight: 600
    i
      font-style: normal
      opacity: 0.15
  .btn
    width: calc(100% - 80px)
    margin: 0 auto 20px
    font-size: 15px
    padding: 28px 0
  &.show
    opacity: 1
    pointer-events: auto

.fancybox__container
  --fancybox-bg: rgba(24, 24, 27, 0.45)
