@media(max-width: 1024px)
  .container
    max-width: 576px
    padding: 0 24px

  .title
    font-size: 30px !important
    text-transform: none
  .subtitle
    font-size: 15px

  .header
    display: none
    &-mobile
      @include flexbox
      align-items: center
      justify-content: space-between
      background: transparent
      border: 1px solid transparent
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
      padding: 7px 10px
      border-radius: 8px
      position: fixed
      z-index: 999
      left: 20px
      right: 20px
      top: 10px
      margin: 0 auto
      max-width: 576px
      transition: .25s
      &.fixed
        background: #FAFAFA
        border: 1px solid #fff
        box-shadow: 40px 40px 65px rgba(0, 0, 0, 0.12)
        padding: 7px 20px
      &__burger
        width: 52px
        height: 52px
        border-radius: 100%
        cursor: pointer
        background: #fff
        @include flexbox
        align-items: center
        justify-content: center
        span
          @include flexbox
          flex-direction: column
          align-items: flex-start
          justify-content: space-between
          width: 16px
          height: 12px
          i
            display: block
            width: 100%
            height: 2px
            background: #899db2
            border-radius: 99px
            &:nth-child(1)
              width: 65%
              margin-left: auto
            &:nth-child(3)
              width: 65%
      &__phone
        width: 52px
        height: 52px
        border-radius: 100%
        cursor: pointer
        background: #83B53B url(../img/svg/phone.svg) no-repeat center
        box-shadow: inset 0px 4px 25px rgba(255, 255, 255, 0.25)
        display: block
      &__logo
        display: block
        padding: 5px
        border-radius: 100%
        background: rgba(255,255,255,.15)
        border: 1px solid rgba(255,255,255,.5)
        img
          width: 52px
          height: 52px

  .promo
    position: relative
    background: none
    padding-top: 120px
    height: auto
    &::after
      content: ''
      position: absolute
      left: 64px
      right: 64px
      height: 10px
      border-radius: 99px
      background: #FAFAFA
      top: 810px
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 815px
      background: url(../img/promo-bg.jpg) no-repeat top center / cover
    &-title
      font-size: 30px
      text-transform: none
      max-width: 350px
      span
        font-weight: 500
    &-subtitle
      font-size: 15px
      max-width: 330px
      margin: 15px auto 0
      line-height: 1.5
      i
        display: inline
      span
        font-size: 11px
        transform: rotate(-2deg)
        &::before
          background-size: cover
          width: 70px
          height: 22px
          opacity: 0.15
    &-form, &-manager
      display: none
    &-total
      @include flexbox
      align-items: flex-start
      margin-top: 285px
      gap: 10px
      &__price
        width: 100%
        margin-bottom: 25px
        h4
          font-size: 45px
          font-weight: 400
        p
          margin-top: 5px
          font-size: 12px
          line-height: 1.5
          b
            font-weight: 600
    &-btn
      flex: 1
      height: 50px
      border-radius: 7px
      @include flexbox
      align-items: center
      justify-content: center
      text-align: center
      font-size: 9px
      font-weight: 700
      text-transform: uppercase
      line-height: 1.4
      &__orange
        background: radial-gradient(173.53% 198.33% at 10.23% -99.37%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%), #EACD62
        box-shadow: inset 0px 4px 25px rgba(255, 255, 255, 0.25)
        color: #443f2d
      &__green
        background: #83B53B
        box-shadow: inset 0px 4px 25px rgba(255, 255, 255, 0.25)
      &__white
        flex: initial
        width: 100%
        height: 60px
        background: #f8f8f8
        font-size: 12px
        color: #3a434d
        position: relative
        &::before
          content: ''
          position: absolute
          bottom: 0
          left: 20%
          width: 103px
          height: 79px
          background: url(../img/promo-wa.png) no-repeat / cover
          pointer-events: none
        &::after
          content: ''
          position: absolute
          top: 0
          right: 0
          background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_147_564)'%3E%3Cpath d='M0 -0.000488281H20C23.866 -0.000488281 27 3.13352 27 6.99951V26.9995L13.1932 13.8063L0 -0.000488281Z' fill='%2383B53B'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_147_564' x='0' y='-0.000488281' width='27' height='31' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_147_564'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat
          width: 27px
          height: 27px
        p
          margin-left: 130px
          i
            display: inline-block
            width: 10px
            height: 10px
            background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.44318 0.0137016C3.74881 0.119862 3.26604 0.271264 2.69941 0.560538C0.64173 1.611 -0.42142 3.9494 0.156257 6.15414C0.200459 6.32283 0.307671 6.62801 0.394507 6.83232C0.481303 7.03663 0.559988 7.24778 0.569275 7.30154C0.578602 7.3553 0.456224 7.98433 0.297365 8.69942C0.138506 9.41451 0.0100159 9.99955 0.0118577 9.99951C0.0136994 9.99951 0.627819 9.86031 1.37658 9.69018L2.73797 9.38089L3.06063 9.51669C4.27398 10.0273 5.6539 10.037 6.88783 9.54347C8.21532 9.01259 9.30606 7.8639 9.75117 6.52823C9.95047 5.93013 10 5.617 10 4.95544C10 4.09227 9.83432 3.40616 9.45046 2.67957C8.76153 1.37561 7.52746 0.435021 6.06939 0.10254C5.74348 0.0282082 4.71544 -0.0279417 4.44318 0.0137016ZM6.0498 0.90561C7.2541 1.21381 8.28002 2.05578 8.81651 3.17632C9.36754 4.3272 9.37193 5.55628 8.82905 6.70923C8.19667 8.05213 6.94457 8.93298 5.42549 9.10354C4.69809 9.18522 3.89568 9.04395 3.17634 8.7076L2.8495 8.55475L1.96844 8.75307C1.48383 8.86216 1.0792 8.9433 1.06925 8.93333C1.05929 8.9234 1.13684 8.52542 1.24159 8.04897L1.43207 7.18271L1.22297 6.76315C1.10624 6.52893 0.967638 6.1708 0.909251 5.95253C0.816263 5.60504 0.804703 5.49192 0.805526 4.93589C0.806349 4.38886 0.819202 4.26256 0.907762 3.93075C1.22133 2.75578 2.04701 1.74191 3.11087 1.22546C3.82518 0.878708 4.34902 0.765469 5.12893 0.789204C5.5282 0.801364 5.75406 0.829909 6.0498 0.90561ZM3.11823 2.91954C2.69828 3.30582 2.60729 3.90377 2.87618 4.51047C3.11337 5.04569 3.84427 5.92552 4.37774 6.31806C4.93422 6.72749 5.75269 7.03893 6.28491 7.04374C6.57344 7.04636 6.6187 7.03545 6.85311 6.90689C7.19712 6.71818 7.32479 6.53554 7.35237 6.19246L7.37314 5.93431L6.84864 5.67953C6.56011 5.53939 6.28652 5.4247 6.24059 5.4247C6.1895 5.42466 6.11493 5.48155 6.04851 5.57129C5.86449 5.81982 5.66507 6.01119 5.59011 6.01119C5.38121 6.01119 4.65863 5.54701 4.37159 5.22841C4.1864 5.02289 3.87499 4.58061 3.87499 4.52313C3.87499 4.50534 3.96316 4.39023 4.07092 4.26737C4.1987 4.12164 4.26685 4.00848 4.26685 3.94197C4.26685 3.81829 3.90571 2.94261 3.81213 2.83946C3.76111 2.78319 3.69085 2.76575 3.51538 2.76575C3.30225 2.76575 3.27325 2.77697 3.11823 2.91954Z' fill='%2383B53B'/%3E%3C/svg%3E%0A") no-repeat

  .promo-tour
    width: 100%
    padding: 40px 15px
    margin: 33px 0 0
    color: var(--color-black)
    &::before
      transform: none
      top: 0
      left: -500px
      right: -500px
      bottom: 0
      border-radius: 0
      background: #FAFAFA
      opacity: 1
    &::after
      display: none
  .promo-tour__title
    font-size: 30px
    text-shadow: none
    text-transform: none
    max-width: 290px
  .promo-tour__arrow
    display: none
  .promo-tour>p
    font-size: 15px
    margin: 20px 0
  .promo-tour__photos
    position: relative
    left: 0
    right: 0
    top: 0
    max-width: 100%
    margin-bottom: 20px
  .promo-tour .btn
    width: 100%

  .btn
    font-size: 16px
    padding: 30px

  .showreel
    margin: 0
    padding: 0 40px 40px
    border-radius: 0
    &-v2
      .container
        padding: 0
      .title
        margin-bottom: 10px
  .showreel-video img
    height: 550px
    border-radius: 25px

  .vacation
    background: #fff
    border-radius: 0
    padding: 40px 15px
    .title
      text-align: left
      span
        display: block
    .subtitle
      text-align: left
      span
        display: block
  .vacation-grid
    margin-top: 30px
    gap: 15px
  .vacation-item
    width: 100%
    padding: 25px
    height: auto
    transform: rotate(1deg)
    &:nth-child(2n)
      transform: rotate(-1deg)
  .vacation-bg
    border-radius: 10px
    background: #fafafa
    transform: none !important
    img
      height: 220px
      object-position: 0 -40px
  .vacation-title
    margin: 0
    font-size: 14px
    transform: none
    max-width: 200px
    line-height: 1.4
    position: absolute
    top: 25px
    left: 25px
    &::after
      width: 27px
      height: 22px
      background-size: cover
      top: -1px
      left: -10px
  .vacation-text
    font-size: 15px
    color: #4b5662
    padding-top: 220px

  .vacation::after
    height: 10px
    bottom: -5px
    background: #fff

  .about
    background: #fff
    &-main
      width: 100%
      margin: 0
      border-radius: 0
      padding: 40px 0
      background-size: auto 730px
      background-position: top center
      background-image: url(../img/about-mobile.jpg)
      &::before, &::after
        display: none
    .title
      letter-spacing: -0.02em
      max-width: 370px
      margin: 0 auto
    .subtitle
      max-width: 340px
      margin: 20px auto 0
  .about-list
    margin-top: 340px
    padding: 20px 0
    border-radius: 15px
    background: #fafafa
    border: 1px solid rgba(0,0,0,0.05)
  .about-row
    padding: 0
    border: 0
    &:last-child .about-group:last-child
      border: 0
    &:first-child
      .about-group
        &:nth-child(1),
        &:nth-child(2)
          width: 50%
        &:nth-child(2)
          padding-left: 15px
          padding-right: 15px
  .about-group
    width: 100%
    padding: 15px 35px
    border-bottom: 1px solid rgba(0,0,0,0.05)
    h4
      font-size: 15px
      width: auto
    p
      margin-top: 5px
  .about-group span
    margin-top: 0
    margin-left: auto
    i
      width: 20px
      height: 20px
  .about-grid
    margin-top: 20px
    gap: 20px
  .about-item
    width: 100%
    padding: 30px 30px
    background: #fafafa
    color: var(--color-black)
    backdrop-filter: none
    border-radius: 10px
    h4
      font-size: 15px
      width: calc(100% - 70px)
    p
      font-size: 15px
      margin-top: 5px
      width: calc(100% - 70px)
    img
      width: 100px
      right: -15px
      top: 0
      bottom: 0
      margin: auto 0
      transform: rotate(2deg)

  .programm
    padding: 40px 15px 55px
    background: var(--color-bg)
    &-days, &-control
      display: none
    .title
      text-align: left
    .subtitle
      text-align: left
      margin-top: 15px
    &-wrapper
      padding: 0
      border: 0
      border-radius: 0
      margin-top: 18px
      overflow: inherit
    &-slider
      overflow-x: scroll
      width: calc(100% + 80px)
      margin-left: -40px
      margin-right: -40px
      padding: 0 40px
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        width: 0px
        background: transparent
    .swiper-wrapper
      flex-wrap: nowrap
      width: auto
      gap: 10px
      padding-top: 12px
    .swiper-slide
      width: auto
      height: auto
      &:last-child
        padding-right: 40px
    &-day
      width: 100%
      height: 100%
      padding: 40px 25px 25px
      border-radius: 15px
      // overflow: hidden
      @include flexbox
      align-items: flex-start
      gap: 50px
      &__poster
        width: 270px
        height: 200px
        border-radius: 7px
        transform: none
      &__title
        display: none
        font-size: 18px
        padding: 0 0 15px
        font-weight: 600
        &.mob
          display: block
      &__label
        top: -50px
        left: 0px
        box-shadow: none
        width: 71px
        height: 32px
        transform: rotate(-1deg)
        font-size: 10px
      &__list
        font-size: 14px
        margin: 0
        line-height: 1.35
    &-row
      flex-direction: column
      align-items: flex-start
      gap: 15px
      width: auto
      &:first-child
        width: 270px
      &:not(:first-child)
        flex-direction: row
        gap: 50px
        height: 100%
        .programm-col
          @include flexbox
          align-items: flex-start
          width: auto
          gap: 50px
          height: 100%
    &-accordion
      width: 270px
      height: 100%
      margin: 0
      border: 0
      border-radius: 0
      background: transparent
      @include flexbox
      flex-direction: column
      align-items: flex-start
      &__title
        width: 100%
        height: auto
        padding: 0
        padding-left: 18px
        h4
          width: 100%
          font-size: 18px
          font-weight: 600
        span
          display: none
        &::before
          content: ''
          position: absolute
          top: 7px
          left: 0
          width: 8px
          height: 8px
          border-radius: 100%
          background: var(--color-green)
      &__main
        width: 100%
        flex: 1
        height: auto
      &__content
        padding: 15px 0 0
        font-size: 14px
        border: 0
        height: 100%
        @include flexbox
        flex-direction: column
        align-items: flex-start
        p
          width: 100%
          margin-top: 15px
          padding: 0
          &:first-child::before
            display: none
        img
          height: auto
          flex: 1
          border-radius: 7px
      &:nth-of-type(even)
        .programm-accordion__content img
          margin-top: 0
          margin-bottom: 20px
          order: -1
    &-list
      @include flexbox
      align-items: flex-start
      height: 15px
      border-radius: 99px
      background: #fff
      margin-top: 15px
      li
        display: block
        height: 100%
        flex: 1
        border-radius: 99px
        position: relative
        box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.25) inset
        transition: .15s
        &.active
          background: var(--color-green)
        span
          display: block
          font-size: 8px
          line-height: 10px
          opacity: 0.45
          transform: translateY(20px)
    &-scroll
      display: block
      margin-top: 20px
      font-size: 8px
      font-weight: 700
      text-transform: uppercase
      color: #abb0b6
      line-height: 10px
      padding-left: 20px
      background: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.2859 0.00243164L7.6702 0.621562L8.33324 1.2883H5.78946V2.16387H8.33324L7.6702 2.83061L8.2859 3.44971L10 1.72608L8.2859 0.00243164ZM2.4653 1.38524C3.40046 1.38524 4.16128 2.1503 4.16128 3.09067V4.24948C4.62504 3.80007 4.91399 3.16951 4.91399 2.47069C4.91402 1.10616 3.81399 0 2.45703 0C1.10006 0 0 1.10616 0 2.47069C0 3.1778 0.295861 3.81501 0.769325 4.26539V3.09064C0.769354 2.15027 1.53014 1.38524 2.4653 1.38524Z' fill='%23ABB0B6'/%3E%3Cpath d='M7.5718 6.73193C7.10177 6.73193 6.72072 7.11511 6.72072 7.58775V7.03111C6.72072 6.55847 6.33967 6.17529 5.86964 6.17529C5.39962 6.17529 5.01857 6.55847 5.01857 7.03111V6.56236C5.01857 6.08972 4.63752 5.70654 4.16749 5.70654C3.69747 5.70654 3.31642 6.08972 3.31642 6.56236V3.09068C3.31642 2.61804 2.93537 2.23486 2.46534 2.23486C1.99531 2.23486 1.61426 2.61804 1.61426 3.09068V7.56051C0.857029 7.62133 0.259277 8.26003 0.259277 9.03687V10.8954L2.18381 13.3098L2.17286 15H7.08018L7.08822 13.301L8.4229 11.2106V7.58775C8.42287 7.11508 8.04185 6.73193 7.5718 6.73193Z' fill='%23ABB0B6'/%3E%3C/svg%3E%0A") no-repeat left center

  .travel
    margin: 0
    width: 100%
    background-position: top -50px right -260px
    background-size: auto 875px
    padding: 40px 0
    border-radius: 0
    &::before
      top: 0
      left: 64px
      right: 64px
      height: 10px
      width: auto
      top: -5px
      background: var(--color-bg)
      margin: 0
    &::after
      display: none
    .title
      max-width: 360px
      font-size: 28px !important
    .subtitle
      max-width: 270px
      margin: 15px auto 0
    &-block
      margin-top: 370px
      margin-left: 0
      width: 100%
      backdrop-filter: none
      padding: 40px 35px
      border-radius: 15px
      background: var(--color-bg)
      border: 1px solid rgba(0,0,0,.05)
      color: var(--color-black)
      &::before, &::after
        display: none
    &-title
      font-size: 25px
    &-list
      margin-top: 20px
      li
        font-size: 14px
        padding-left: 16px
        &::before
          background: var(--color-green)
          opacity: 1
          width: 6px
          height: 6px
          top: 7px
        span
          font-weight: 700
    &-price
      margin-top: 20px
      width: 100%
      font-size: 55px
      padding-top: 15px
      position: relative
      &::before
        content: ''
        position: absolute
        top: 0
        left: -35px
        right: -35px
        height: 1px
        background: #000
        opacity: 0.05
    &-info
      margin-top: 7px
      padding-right: 0
      p
        font-size: 10px
        color: rgba(58, 67, 77, 0.45)
      &::after
        display: none
      ul
        position: relative
        top: 0
        left: 0
        white-space: normal
        width: 100%
        box-shadow: none
        border-radius: 10px
        padding: 10px 15px
        margin-top: 15px
        opacity: 1
        &::before
          display: none

  .tour
    padding: 0 15px
    .title
      max-width: 200px
      text-align: left
    &-row
      margin-top: 20px
  .tour-date
    gap: 6px
  .tour-date__item
    padding: 20px
    border-radius: 8px
    justify-content: flex-start
    height: 140px
    width: calc(50% - 3px)
  .tour-date__title
    font-size: 15px
    width: 100%
    i
      width: 16px
      height: 16px
  .tour-date__list
    font-size: 10px
    margin-top: 5px
  .tour-date__wa
    width: 100%
    height: auto
    padding: 30px
    margin-top: 14px
  .tour-form
    margin-top: 20px
    padding: 35px 20px 20px
  .tour-form__title
    font-size: 20px
  .tour-form__subtitle
    font-size: 14px
    margin: 10px auto 20px
    max-width: 280px
  .input
    height: 65px
    padding-left: 25px
  .tour-form__total
    text-align: center
    margin: 5px 0 15px
    align-items: center
    justify-content: center
    gap: 5px
    p
      font-size: 14px
      width: 100%
      br
        display: none
  .tour-form .btn
    font-size: 14px
    padding: 24px 0
  .tour-steps
    margin-top: 35px
    gap: 10px
  .tour-steps__item
    width: 100%
    text-align: center
    height: auto
    padding-bottom: 30px
  .tour-steps__item span
    display: none
  .tour-steps__item img
    width: 70px
    height: 70px
    margin: -15px auto 0
  .tour-steps__item h4
    font-size: 15px
    margin-top: 15px
    br
      display: none
  .tour-steps__item p
    margin-top: 5px
  .tour-go
    margin-top: 20px
    height: 400px
  .tour-go span
    font-size: 18px

  .reviews::after
    display: none

  .faq
    padding: 0 15px 40px
    &-main
      padding: 0
      background: transparent
      border-radius: 0
      width: 100%
      .title
        text-align: left
  .faq-row
    margin-top: 30px
    gap: 10px
  .faq-col
    width: 100%
  .faq-item
    background: #fff
    margin-bottom: 10px
  .faq-item__title
    height: auto
    min-height: 60px
    padding: 15px 20px
    h4
      font-size: 15px
      width: calc(100% - 30px - 15px)
  .faq-item__title span
    width: 30px
    height: 30px
    &::before
      width: 10px
      height: 2px
    &::after
      height: 10px
      width: 2px
  .faq-item__content
    font-size: 14px
    padding: 15px 20px
  .faq::after
    display: none

  .guide-main
    background-size: cover
    padding: 40px 0
    &::before, &::after
      display: none

  .guide-main .title
    text-align: center
    margin: 0 auto
    max-width: 380px
    font-size: 28px !important
    letter-spacing: -0.03em
  .guide-text
    padding: 0
    max-width: 300px
    margin: 20px auto 0
    background: none
    text-align: center
    font-size: 14px
    line-height: 1.45
    letter-spacing: -0.03em
    &::before, &::after
      display: none
  .guide-form
    margin: 280px auto 0
    padding: 25px
    max-width: 420px
  .guide-pdf
    top: 210px
    left: 50%
    transform: translateX(-50%)
    max-width: initial
    width: 380px
  .guide-form__switch label span
    height: 38px
    font-size: 12px
  .guide-form__switch p
    font-size: 14px
  .guide-form__switch
    gap: 10px
  .guide-form .btn
    font-size: 13px
    padding: 25px 0
  .guide-form__text
    font-size: 12px
    text-align: center
