@media(max-width: 1600px)

  .input
    height: 70px
    font-size: 14px
    padding-left: 30px

  .btn-sm
    padding: 26px
    font-size: 14px

  .header
    width: calc(100% - 70px)
    left: 35px
    right: 35px

  .showreel
    padding: 60px
  .showreel-v2 .subtitle
    margin-bottom: 40px

  .about-list
    width: 100%
    margin-left: 0
    margin-right: 0
    padding: 20px 0
  .about-row
    padding: 0 20px
  .about-group
    padding: 20px
  .about-group h4
    font-size: 16px

  .tour-go img
    width: 100%
    margin: 0

  .header-gov
    gap: 15px
  .header-gov img
    width: 45px
    height: 45px
  .header-gov p
    font-size: 13px
    line-height: 1.7
  .header-logo
    padding: 5px
  .header-logo img
    height: 60px
    width: 60px
  .header-contact__call
    font-size: 13px
    margin-top: 5px
  .header-nav
    font-size: 15px
    padding: 20px 0
  .header-gov,
  .header-contact
    width: 270px
  .header-top
    padding-top: 15px
    transition: padding .25s, max-height .25s
    max-height: 100px
  .header::before
    bottom: 0

  .header.fixed
    top: 10px
    .header-top
      max-height: 0
      padding: 0
      overflow: hidden

  .promo-title
    font-size: 48px
  .promo
    padding-top: 200px
  .promo-subtitle
    font-size: 18px
    margin-top: 15px
  .promo-form
    padding: 15px

  .promo-manager
    max-width: 493px
    margin-top: 30px
  .promo-manager__photo
    width: 100px
    height: 100px
  .promo-manager__text
    padding: 15px
    font-size: 15px
    max-width: 360px

  .promo-tour
    padding: 80px
    width: 740px
    margin-left: -40px
    margin-top: 300px
  .promo-tour__title
    font-size: 38px
    max-width: 490px
  .promo-tour > p
    margin: 35px 0
    max-width: 460px
  .promo-tour::before,
  .promo-tour::after
    transform: rotate(-3deg)
    border-radius: 50px
  .promo-tour__photos
    width: 600px
    right: -490px
    top: 20px
    transform: rotate(10deg)
  .promo
    height: 1660px

  .showreel-video img
    height: 560px

  .vacation-item
    height: 650px

  .about-main
    background-position: top -160px center
    padding-bottom: 50px
  .about-grid
    margin-top: 460px

  .programm-days li
    height: 65px
    font-size: 14px
