<footer class="footer">
  <div class="footer-main">
    <div class="footer-top">
      <div class="container">
        <div class="footer-logo">
          <a href="/" class="footer-logo__icon"><img src="img/svg/logo.svg" alt=""></a>
          <div class="footer-logo__desc">
            <p>Эксклюзивный тур <b>повышенного комфорта</b> в чарующий Дагестан</p>
            <span>
              <img src="img/svg/visa.svg" alt="">
              <img src="img/svg/mastercard.svg" alt="">
              <img src="img/svg/mir.svg" alt="">
            </span>
          </div>
        </div>
        <ul class="footer-links">
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Пользовательское соглашение</a></li>
          <li><a href="#">Оплата и возврат</a></li>
        </ul>
        <ul class="footer-social">
          <li><a href="#"><img src="img/svg/f-yt.svg" alt=""></a></li>
          <li><a href="#"><img src="img/svg/f-vk.svg" alt=""></a></li>
          <li><a href="#"><img src="img/svg/f-tg.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>ООО «МИР»</p>
        <p>Официальный туроператор</p>
        <p>Реестровый номер: РТО 00777</p>
      </div>
    </div>
  </div>
</footer>

<div class="popup" id="popup-credit">
  <h3>Заявка на рассрочку</h3>
  <h4>Узнайте о наличии свободных мест и получите презентацию программы тура на WhatsApp</h4>
  <form action="#" method="post">
    <select name="date" class="input" required>
      <option value="" disabled selected>Выберите дату тура</option>
      <option value="31 марта - 6 апреля">31 марта - 6 апреля</option>
      <option value="7 апреля - 13 апреля">7 апреля - 13 апреля</option>
      <option value="14 апреля - 20 апреля">14 апреля - 20 апреля</option>
      <option value="21 апреля - 27 апреля">21 апреля - 27 апреля</option>
    </select>
    <select name="date" class="input" required>
      <option value="" disabled selected>Укажите количество людей</option>
      <option value="1">1 человек</option>
      <option value="2">2 человека</option>
      <option value="3">3 человека</option>
      <option value="4">4 человека</option>
    </select>
    <input type="text" name="name" class="input" placeholder="Введите свое имя" />
    <input type="tel" name="phone" class="input masked" placeholder="Введите номер телефона" />
    <button class="btn"><p>узнать подробнее о рассрочке</p></button>
  </form>
</div>

<div class="popup" id="popup-payment">
  <h3>бронируйте заранее!</h3>
  <h4>Свободные места на наши туры разлетаюстя как горячие пирожки, особенно на популярные даты</h4>
  <form action="#" method="post" class="popup-payment">
    <select name="date" class="input" required>
      <option value="" disabled selected>Выберите дату тура</option>
      <option value="31 марта - 6 апреля">31 марта - 6 апреля</option>
      <option value="7 апреля - 13 апреля">7 апреля - 13 апреля</option>
      <option value="14 апреля - 20 апреля">14 апреля - 20 апреля</option>
      <option value="21 апреля - 27 апреля">21 апреля - 27 апреля</option>
    </select>
    <select name="people" class="input" required data-price="5000">
      <option value="" disabled selected>Укажите количество людей</option>
      <option value="1">1 человек</option>
      <option value="2">2 человека</option>
      <option value="3">3 человека</option>
      <option value="4">4 человека</option>
      <option value="5">5 человек</option>
      <option value="6">6 человек</option>
      <option value="7">7 человек</option>
      <option value="8">8 человек</option>
      <option value="9">9 человек</option>
      <option value="10">10 человек</option>
      <option value="11">Больше 10 человек</option>
    </select>
    <input type="text" name="name" class="input" placeholder="Введите свое имя" />
    <input type="tel" name="phone" class="input masked" placeholder="Введите номер телефона" />
    <div class="popup-total">
      <p>Сумма предоплаты<br> за 1 человека</p>
      <h4>5 000₽</h4>
    </div>
    <button class="btn"><p>оплатить бронь</p></button>
  </form>
</div>

<div class="popup" id="popup-reserv">
  <h3>бронируйте заранее!</h3>
  <h4>Узнайте о наличии свободных мест и получите презентацию программы тура на WhatsApp</h4>
  <form action="#" method="post">
    <select name="date" class="input" required>
      <option value="" disabled selected>Выберите дату тура</option>
      <option value="31 марта - 6 апреля">31 марта - 6 апреля</option>
      <option value="7 апреля - 13 апреля">7 апреля - 13 апреля</option>
      <option value="14 апреля - 20 апреля">14 апреля - 20 апреля</option>
      <option value="21 апреля - 27 апреля">21 апреля - 27 апреля</option>
    </select>
    <select name="date" class="input" required>
      <option value="" disabled selected>Укажите количество людей</option>
      <option value="1">1 человек</option>
      <option value="2">2 человека</option>
      <option value="3">3 человека</option>
      <option value="4">4 человека</option>
    </select>
    <input type="text" name="name" class="input" placeholder="Введите свое имя" />
    <input type="tel" name="phone" class="input masked" placeholder="Введите номер телефона" />
    <button class="btn"><p>узнать о наличии свободных мест</p></button>
  </form>
</div>