<footer class="footer">
  <div class="footer-main">
    <div class="footer-top">
      <div class="container">
        <div class="footer-logo">
          <a href="/" class="footer-logo__icon"><img src="img/svg/logo.svg" alt=""></a>
          <div class="footer-logo__desc">
            <p>Эксклюзивный тур <b>повышенного комфорта</b> в чарующий Дагестан</p>
            <img src="img/svg/visa.svg" alt="">
            <img src="img/svg/mastercard.svg" alt="">
            <img src="img/svg/mir.svg" alt="">
          </div>
        </div>
        <ul class="footer-links">
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Пользовательское соглашение</a></li>
          <li><a href="#">Оплата и возврат</a></li>
        </ul>
        <ul class="footer-social">
          <li><a href="#"><img src="img/svg/f-yt.svg" alt=""></a></li>
          <li><a href="#"><img src="img/svg/f-vk.svg" alt=""></a></li>
          <li><a href="#"><img src="img/svg/f-tg.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>ООО «МИР»</p>
        <p>Официальный туроператор</p>
        <p>Реестровый номер: РТО 00777</p>
      </div>
    </div>
  </div>
</footer>