<header class="header">
  <div class="container">
    <div class="header-top">
      <div class="header-gov">
        <img src="img/gov.jpg" alt="">
        <p>Мы официальный туроператор<br> <b>ООО «МИР» – <a href="#">РТО № 025226</a></b></p>
      </div>
      <a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
      <div class="header-contact">
        <a href="tel:+7 (987) 654-32-10">+7 <span>(</span>987<span>)</span> 654-32-10</a>
        <div class="header-contact__call">Перезвоните мне</div class="header-contact__call">
      </div>
    </div>
    <ul class="header-nav">
      <li><a href="#">Программа тура</a></li>
      <li><a href="#">Стоимость и условия</a></li>
      <li><a href="#"><b>Даты на 2024 год</b></a></li>
      <li><a href="#">Отзывы туристов</a></li>
      <li><a href="#">Блог про Дагестан</a></li>
      <li><a href="#"><b>Забронировать тур</b></a></li>
    </ul>
  </div>
</header>

<header class="header-mobile">
  <div class="header-mobile__burger"><span><i></i><i></i><i></i></span></div>
  <a href="/" class="header-mobile__logo"><img src="img/svg/logo.svg" alt=""></a>
  <a href="tel:+7 (987) 654-32-10" class="header-mobile__phone"></a>
</header>