.travel
  max-width: 1850px
  width: calc(100% - calc(var(--spacing) * 2))
  margin: var(--spacing) auto 0
  position: relative
  background: url(../img/travel-bg.jpg) no-repeat center
  padding: var(--gap) 0
  border-radius: var(--border-radius)
  &::before, &::after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    width: 20px
    height: 500px
    background: #fff
    border-radius: 10px
    margin: auto 0
  &::before
    left: -10px
  &::after
    right: -10px
  .title
    max-width: 960px
    margin: 0 auto
  .subtitle
    max-width: 500px
    margin: 25px auto 0
  &-block
    margin-top: 75px
    margin-left: 15px
    max-width: 590px
    padding: 55px
    border-radius: 15px
    background: rgba(0, 0, 0, 0.15)
    backdrop-filter: blur(72.5px)
    border: 1px solid rgba(255,255,255,.4)
    position: relative
    color: #fff
    &::before
      content: ''
      position: absolute
      top: 2px
      left: 2px
      right: 2px
      bottom: 2px
      background: url(../img/noise.png)
      border-radius: 15px
      z-index: -1
      opacity: 0.05
    &::after
      content: ''
      position: absolute
      top: -15px
      left: -15px
      right: -15px
      bottom: -15px
      border-radius: 15px
      border: 1px solid rgba(255,255,255,0.15)
      z-index: -1
  &-plane
    position: absolute
    top: 23px
    right: -1px
  &-title
    font-size: 35px
    max-width: 380px
    font-weight: 500
    span
      font-weight: 600
  &-list
    margin-top: 30px
    max-width: 420px
    li
      margin-top: 5px
      font-size: 16px
      font-weight: 500
      line-height: 1.45
      position: relative
      padding-left: 18px
      &:first-child
        margin-top: 0
      &::before
        content: ''
        position: absolute
        top: 8px
        left: 0
        width: 8px
        height: 8px
        border-radius: 100%
        background: #fff
        opacity: 0.25
      span
        font-weight: 600
  &-price
    font-size: 75px
    font-weight: 400
    margin-top: 30px
  &-info
    display: inline-block
    position: relative
    padding-right: 40px
    cursor: pointer
    margin-top: 10px
    p
      font-size: 12px
      text-transform: uppercase
      font-weight: 700
      color: rgba(255,255,255,.45)
      line-height: 14px
    &::after
      content: '?'
      position: absolute
      top: 0
      bottom: 0
      right: 0
      margin: auto 0
      width: 30px
      height: 30px
      border-radius: 100%
      border: 1px solid rgba(255,255,255,.25)
      color: #fff
      text-align: center
      line-height: 28px
    ul
      position: absolute
      top: -55px
      left: calc(100% + 20px)
      padding: 10px 15px
      border-radius: 10px
      border: 1px solid #FFF
      background: #fff
      box-shadow: -15px 15px 31px 0px rgba(0, 0, 0, 0.25)
      backdrop-filter: blur(12.5px)
      font-size: 16px
      line-height: 1.45
      color: var(--color-gray)
      white-space: nowrap
      display: block
      opacity: 0
      pointer-events: none
      transition: .25s
      li
        margin-top: 5px
        position: relative
        padding-left: 15px
        &::before
          content: ''
          position: absolute
          top: 10px
          left: 0
          width: 5px
          height: 5px
          border-radius: 100%
          background: rgba(75, 86, 98, 0.10)
        &:first-child
          margin-top: 0
      &::before
        content: ''
        background: #fff
        backdrop-filter: blur(12.5px)
        width: 14px
        height: 14px
        position: absolute
        top: 52px
        left: -6px
        transform: rotate(45deg)
    &:hover
      ul
        opacity: 1
