{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="promo">
  <div class="container">
    <h1 class="promo-title">эксклюзивный тур<br> в <span>чарующий Дагестан</span></h1>
    <h2 class="promo-subtitle">путешествие, которое <b>оставит след</b> в вашем сердце <span>навсегда</span></h2>
    <form action="#" class="promo-form">
      <input type="text" name="name" class="input" placeholder="Ваше имя" />
      <input type="tel" name="whatsapp" class="input masked" placeholder="Ваш WhatsApp" />
      <input type="text" name="date" class="input" placeholder="Укажите даты тура" />
      <button class="btn btn-sm"><p>узнать о наличии свободных мест</p></button>
    </form>
    <div class="promo-manager">
      <p class="promo-manager__text"><b>Отправим подробную программу тура</b> и ответим на важные для вас вопросы</p>
      <img src="img/promo-manager.png" alt="" class="promo-manager__photo">
    </div>
    <div class="promo-tour">
      <img src="img/svg/promo-tour-arrow.svg" alt="" class="promo-tour__arrow">
      <img src="img/promo-tour.png" alt="" class="promo-tour__photos">
      <h3 class="promo-tour__title">За 7 насыщенных дней покажем вам <span>самые яркие места дагестана</span></h3>
      <p>Поднимемся на <b>2000 метров на комфортном транспорте по горному серпантину, промчимся на бирюзовой реке на катере, сытно покушаем</b>, сладко поспим в уютных номерах высоко в горах и познакомимся с искренним гостеприимством дагестанского народа</p>
      <div class="btn-wrap"><a href="#" class="btn"><p>подобрать дату</p></a></div>
    </div>
  </div>
</section>

{% endblock %}