{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="promo">
  <div class="container">
    <h1 class="promo-title">эксклюзивный тур<br> в <span>чарующий Дагестан</span></h1>
    <h2 class="promo-subtitle">путешествие, которое <b>оставит след</b> в вашем сердце <span>навсегда</span></h2>
    <form action="#" class="promo-form">
      <input type="text" name="name" class="input" placeholder="Ваше имя" />
      <input type="tel" name="whatsapp" class="input masked" placeholder="Ваш WhatsApp" />
      <input type="text" name="date" class="input" placeholder="Укажите даты тура" />
      <button class="btn btn-sm"><p>узнать о наличии свободных мест</p></button>
    </form>
    <div class="promo-manager">
      <p class="promo-manager__text"><b>Отправим подробную программу тура</b> и ответим на важные для вас вопросы</p>
      <img src="img/promo-manager.png" alt="" class="promo-manager__photo">
    </div>
    <div class="promo-tour">
      <img src="img/svg/promo-tour-arrow.svg" alt="" class="promo-tour__arrow">
      <img src="img/promo-tour.png" alt="" class="promo-tour__photos">
      <h3 class="promo-tour__title">За 7 насыщенных дней покажем вам <span>самые яркие места дагестана</span></h3>
      <p>Поднимемся на <b>2000 метров на комфортном транспорте по горному серпантину, промчимся на бирюзовой реке на катере, сытно покушаем</b>, сладко поспим в уютных номерах высоко в горах и познакомимся с искренним гостеприимством дагестанского народа</p>
      <div class="btn-wrap"><a href="#" class="btn"><p>подобрать дату</p></a></div>
    </div>
  </div>
</section>

<section class="showreel">
  <a href="#" data-fancybox class="showreel-video"><img src="img/showreel.jpg" alt="" loading="lazy"></a>
</section>

<section class="vacation">
  <div class="container">
    <h2 class="title">дагестан – <span>лучшее место</span> для вашего отпуска</h2>
    <h3 class="subtitle">Здесь вы найдете то, что <span>придется вам по душе</span></h3>
    <div class="vacation-grid">
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-1.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для любителей природы</h3>
        <div class="vacation-text">
          <p>Станьте главным героем популярных reels!</p>
          <p>Откройте для себя <b>красоту всех континентов, не выезжая из страны:</b></p>
          <p>теплое каспийское море, скалистые горы, песчаные барханы, село-призрак (дагестанский Мачу-Пикчу), горные террасы, как в Азии, вершинные долины,как в Альпах…</p>
        </div>
      </div>
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-2.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для любителей адреналина</h3>
        <div class="vacation-text">
          <p>В Дагестане вас ждет <b>невероятное разнообразие экстремального отдыха:</b> почувствуйте себя орлом, парящим над горной рекой, прокатившись на ziplane.</p>
          <p>Ощутите на себе силу притяжения земли, прыгнув с тарзанкой с подвесного моста в пропасть. Прокатитесь со скоростью ветра на катерах, рассекая водную гладь.</p>
        </div>
      </div>
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-3.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для любителей вкусно покушать</h3>
        <div class="vacation-text">
          <p><b>Дагестан — настоящий рай для гурманов!</b> Форель, баранина, козий сыр, спелые фрукты и свежие овощи, ароматные супы и сладкие компоты — это лишь малый перечень, что вы попробуете.</p>
          <p>Будьте уверены, что каждый кулинарный шедевр, приготовленный в дагестанском стиле, покорит вас своей неповторимостью и безупречным вкусом.</p>
        </div>
      </div>
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-4.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для Для тех, кто хочет перезагрузиться от городской суеты</h3>
        <div class="vacation-text">
          <p><b>В самом сердце Кавказских гор Дагестан предлагает уникальные возможности для отдыха и восстановления сил.</b></p>
          <p>Встречая рассвет в горах или наслаждаясь закатом на берегу моря, вы ощутите истинное умиротворение и покой.</p>
          <p>А прогулки по горам позволят вам полностью расслабиться и освежиться, насладиться тишиной и покоем, которые так не хватает в городской суете.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="about-main">
    <div class="container">
      <h2 class="title">С нами вам будет <span>комфортно, интересно, уютно и вкусно</span></h2>
      <h3 class="subtitle">При создании данного тура мы уделили внимание <i>мелочам</i>, которые будут вас окружать каждый день, чтобы вы сполна насладились своим отпуском</h3>
      <div class="about-list">
        <div class="about-row">
          <div class="about-group">
            <h4>Формат тура</h4>
            <p>малая группа</p>
          </div>
          <div class="about-group">
            <h4>Кол-во туристов</h4>
            <p>до 16</p>
          </div>
          <div class="about-group">
            <h4>Допустимый возраст</h4>
            <p>от 8 до 80</p>
          </div>
        </div>
        <div class="about-row">
          <div class="about-group">
            <h4>Комфорт*</h4>
            <p>рейтинг 4 из 5</p>
            <span data-stars="4"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Сложность</h4>
            <p>рейтинг 1 из 5</p>
            <span data-stars="1"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Насыщенность</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Цена-качество</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
        </div>
        <div class="about-row">
          <div class="about-group">
            <h4>Транспорт</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Программа</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Отели</h4>
            <p>рейтинг 3 из 5</p>
            <span data-stars="3"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Еда</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
        </div>
      </div>
      <div class="about-grid">
        <div class="about-item">
          <img src="img/about-1.jpg" alt="">
          <h4>Автобус повышенного комфорта</h4>
          <p>на котором вас встретим и отвезем до аэропорта <span>(usb-зарядка на каждом месте, кондиционер, просторные и раскладывающиеся кресла)</span></p>
        </div>
        <div class="about-item">
          <img src="img/about-2.jpg" alt="">
          <h4>Харизматичный гид</h4>
          <p>который не только познакомит вас с историей, культурой и традициями Дагестана, но и создаст дружелюбную атмосферу в коллективе</p>
        </div>
        <div class="about-item">
          <img src="img/about-3.jpg" alt="">
          <h4>Уютные гостиницы</h4>
          <p>для комфортного отдыха после насыщенного дня. <span>Выбрали самое лучшее из возможных вариантов</span></p>
        </div>
        <div class="about-item">
          <img src="img/about-4.jpg" alt="">
          <h4>Национальные блюда</h4>
          <p>Сытные и вкусные национальные блюда, которые не только утолят ваш голод, но и расширят ваше сознание</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="programm">
  <div class="container">
    <h2 class="title"><span>посетим все самые захватывающие места</span> дагестана и не только...</h2>
    <h3 class="subtitle">Представьте себе, что вы отправляетесь <span>в незабываемое путешествие</span>, где каждый момент наполнен приключениями и невероятными эмоциями</h3>
    <ul class="programm-days">
      <li class="active">День 1</li>
      <li>День 2</li>
      <li>День 3</li>
      <li>День 4</li>
      <li>День 5</li>
      <li>День 6</li>
      <li>День 7</li>
    </ul>
    <div class="programm-wrapper">
      <div class="programm-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">1 день</span>
                  <img src="img/programm-1.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Сбор туристов</h3>
                  <ul class="programm-day__list">
                    <li>Персональная встреча из аэропорта или жд вокзала в Махачкале</li>
                    <li>Трансфер комфорт класса до гостиницы в городе Каспийск</li>
                    <li>Размещение в гостевом доме Царский двор <span>(в первый день питание не включено)</span></li>
                    <li>Свободное время для отдыха в отеле или прогулки по побережью Каспийского моря</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="programm-control">
      <div class="programm-prev"><p><span>Предыдущий</span><br><span>день</span></p></div>
      <div class="programm-dots"></div>
      <div class="programm-next"><p><span>Следующий</span><br><span>день</span></p></div>
    </div>
  </div>
</section>

<section class="showreel showreel-v2">
  <div class="container">
    <h2 class="title"><span>Посмотрите</span><br> видео с нашего тура</h2>
    <h3 class="subtitle">и прочувствуйте <span>атмосферу насыщенных дней</span> в Дагестане</h3>
  </div>
  <a href="#" data-fancybox class="showreel-video"><img src="img/showreel-2.jpg" alt="" loading="lazy"></a>
</section>

<section class="travel">
  <div class="container">
    <h2 class="title">То самое путешествие, в котором вы сможете <span>по-настоящему отдохнуть телом и душой</span></h2>
    <h3 class="subtitle">Не думать ни о чем! Расслабиться и доверить организацию вашего отпуска профессионалам</h3>
    <div class="travel-block">
      <img src="img/svg/travel-plane.svg" alt="" class="travel-plane">
      <h3 class="travel-title">В стоимость тура входит <span>все и даже больше...</span></h3>
      <ul class="travel-list">
        <li><span>Транспорт класса комфорт+</span></li>
        <li><span>3х разовое питание</span> на каждый день</li>
        <li><span>Проживание</span> в уютных отелях и аутентичных гостевых домах</li>
        <li><span>Посещение всех локаций</span> по маршруту</li>
        <li>Приветственные <span>подарки и другие сюрпризы</span> от команды «Хочу в Дагестан»</li>
      </ul>
      <h4 class="travel-price">39.900р</h4>
      <span class="travel-info">без учета личных расходов</span>
    </div>
  </div>
</section>

<section class="price">
  <div class="container">
    <h2 class="title"><span>что входит в стоимость?</span></h2>
  </div>
</section>

<section class="tour">
  <div class="container">
    <h2 class="title"><span>Даты туров на 2024 год</span></h2>
    <div class="tour-row">
      <div class="tour-date">
        <div class="tour-date__item">
          <h3 class="tour-date__title">апрель<i class="i-1"></i><i class="i-2"></i></h3>
          <ul class="tour-date__list">
            <li>31 марта - 6 апреля</li>
            <li>7 апреля - 13 апреля</li>
            <li>14 апреля - 20 апреля</li>
            <li>21 апреля - 27 апреля</li>
          </ul>
        </div>
        <div class="tour-date__item">
          <h3 class="tour-date__title">май<i class="i-1"></i><i class="i-3"></i></h3>
          <ul class="tour-date__list">
            <li>28 апреля - 4 мая</li>
            <li>5 мая - 11 мая</li>
            <li>12 мая - 18 мая</li>
            <li>19 мая - 25 мая</li>
            <li>26 мая - 1 июня</li>
          </ul>
        </div>
        <div class="tour-date__item">
          <h3 class="tour-date__title">июнь<i class="i-4"></i><i class="i-3"></i></h3>
          <ul class="tour-date__list">
            <li>2 июня - 8 июня</li>
            <li>9 июня - 15 июня</li>
            <li>16 июня - 22 июня</li>
            <li>23 июня - 29 июня</li>
            <li>30 июня - 6 июля</li>
          </ul>
        </div>
        <div class="tour-date__item">
          <h3 class="tour-date__title">июль<i class="i-4"></i><i class="i-1"></i></h3>
          <ul class="tour-date__list">
            <li>7 июля - 13 июля</li>
            <li>14 июля - 20 июля</li>
            <li>21 июля - 27 июля</li>
            <li>28 июля - 3 август</li>
          </ul>
        </div>
        <div class="tour-date__item">
          <h3 class="tour-date__title">август<i class="i-4"></i><i class="i-5"></i></h3>
          <ul class="tour-date__list">
            <li>4 августа - 10 августа</li>
            <li>11 августа - 17 августа</li>
            <li>18 августа - 24 августа</li>
            <li>25 августа - 31 август</li>
          </ul>
        </div>
        <div class="tour-date__wa">
          <h4>Не определились с датой?</h4>
          <p>Напишите нам в WhatsApp, оформим предварительную бронь - зафиксируем места на приоритетные даты.</p>
          <p><span>Это бесплатно, но бронь действует только 72 часа, затем нужно определиться и внести предоплату, либо отменить бронирование.</span></p>
        </div>
      </div>
      <form action="#" class="tour-form">
        <h3 class="tour-form__title">Бронируйте заранее!</h3>
        <h4 class="tour-form__subtitle">Свободные места на наши туры разлетаюстя как горячие пирожки, особенно на популярные даты</h4>
        <select name="date" class="input">
          <option disabled selected>Выберите дату тура</option>
          <option value="31 марта - 6 апреля">31 марта - 6 апреля</option>
          <option value="7 апреля - 13 апреля">7 апреля - 13 апреля</option>
          <option value="14 апреля - 20 апреля">14 апреля - 20 апреля</option>
          <option value="21 апреля - 27 апреля">21 апреля - 27 апреля</option>
        </select>
        <select name="date" class="input">
          <option disabled selected>Укажите количество людей</option>
          <option value="1">1 человек</option>
          <option value="2">2 человека</option>
          <option value="3">3 человека</option>
          <option value="4">4 человека</option>
        </select>
        <input type="text" name="name" class="input" placeholder="Введите свое имя" />
        <input type="tel" name="phone" class="input masked" placeholder="Введите номер телефона" />
        <div class="tour-form__total">
          <p>Сумма предоплаты<br> за 2 человека</p>
          <h4>10 000₽</h4>
        </div>
        <button class="btn"><p>оплатить бронь</p></button>
      </form>
    </div>
    <div class="tour-steps">
      <div class="tour-steps__item">
        <span></span>
        <img src="img/tour-step-1.png" alt="">
        <h4>Утверждаем<br> дату тура</h4>
      </div>
      <div class="tour-steps__item">
        <span></span>
        <img src="img/tour-step-2.png" alt="">
        <h4>Вносите продоплату 5000₽ с человека</h4>
      </div>
      <div class="tour-steps__item">
        <span></span>
        <img src="img/tour-step-3.png" alt="">
        <h4>Заполняете<br> анкету туриста</h4>
        <p>В ней мы учитываем все<br> ваши предпочтения</p>
      </div>
      <div class="tour-steps__item">
        <img src="img/tour-step-4.png" alt="">
        <h4>Добавляем вас<br> в общий чат WA</h4>
        <p>За 2 дня до начала тура<br> добавим вас в общий чат<br> со всеми туристами</p>
      </div>
    </div>
    <div class="tour-go"><img src="img/tour-go.jpg" alt=""><span>#хочувдагестан</span></div>
  </div>
</section>

<section class="reviews">
  <div class="container">
    <h2 class="title"><span>горящие глаза туристов<br>– лучшая награда</span></h2>
    <div class="reviews-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-item"><a href="#" data-fancybox><img src="img/reviews-1.jpg" alt="" loading="lazy"></a></div>
        <div class="swiper-slide reviews-item"><a href="#" data-fancybox><img src="img/reviews-1.jpg" alt="" loading="lazy"></a></div>
        <div class="swiper-slide reviews-item"><a href="#" data-fancybox><img src="img/reviews-1.jpg" alt="" loading="lazy"></a></div>
        <div class="swiper-slide reviews-item"><a href="#" data-fancybox><img src="img/reviews-1.jpg" alt="" loading="lazy"></a></div>
        <div class="swiper-slide reviews-item"><a href="#" data-fancybox><img src="img/reviews-1.jpg" alt="" loading="lazy"></a></div>
        <div class="swiper-slide reviews-item"><a href="#" data-fancybox><img src="img/reviews-1.jpg" alt="" loading="lazy"></a></div>
      </div>
    </div>
    <div class="reviews-dots"></div>
  </div>
</section>

<section class="faq">
  <div class="faq-main">
    <div class="container">
      <h2 class="title"><span>faq и советы от нашего гида</span></h2>
      <div class="faq-row">
        <div class="faq-col">
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
        </div>
        <div class="faq-col">
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item__title"><h4>Нужно ли оформлять страховку?</h4><span></span></div>
            <div class="faq-item__main">
              <div class="faq-item__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor rem esse ipsa voluptatum sapiente dignissimos ullam officiis exercitationem, deleniti iusto doloribus sit excepturi magni, totam consectetur. Cum tenetur illum officiis.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="guide">
  <div class="guide-main">
    <img src="img/guide-bush.png" alt="" class="guide-bush">
    <div class="container">
      <img src="img/guide-pdf.png" alt="" class="guide-pdf">
      <h2 class="title"><span>Получите программу и гайд для подготовки к туру в Дагестан</span></h2>
      <h3 class="guide-text"><b>Отправим 2 файла pdf:</b> подробная программа тура с таймингом; гайд, с помощью которого вы сможете собрать свой чемодан и ничего не забыть</h3>
      <form action="#" method="post" class="guide-form">
        <input type="text" name="name" class="input" placeholder="Ваше имя" />
        <div class="guide-form__switch">
          <p>Куда отправить файл?</p>
          <label>
            <input type="radio" name="messenger" checked />
            <span>WhatsApp<i class="w"></i></span>
          </label>
          <label>
            <input type="radio" name="messenger" />
            <span>Telegram<i class="t"></i></span>
          </label>
        </div>
        <input type="tel" name="phone" class="input masked" placeholder="Ваш телефон" />
        <button class="btn"><p>Получить программу и гайд</p></button>
        <div class="guide-form__text">Нажимая на кнопку, вы даете <a href="#">согласие на обработку персональных данных</a></div>
      </form>
    </div>
  </div>
</section>

{% endblock %}