{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="promo">
  <div class="container">
    <h1 class="promo-title">эксклюзивный тур<br> в <span>чарующий Дагестан</span></h1>
    <h2 class="promo-subtitle">путешествие, которое <b>оставит след</b> в вашем сердце <span>навсегда</span></h2>
    <form action="#" class="promo-form">
      <input type="text" name="name" class="input" placeholder="Ваше имя" />
      <input type="tel" name="whatsapp" class="input masked" placeholder="Ваш WhatsApp" />
      <input type="text" name="date" class="input" placeholder="Укажите даты тура" />
      <button class="btn btn-sm"><p>узнать о наличии свободных мест</p></button>
    </form>
    <div class="promo-manager">
      <p class="promo-manager__text"><b>Отправим подробную программу тура</b> и ответим на важные для вас вопросы</p>
      <img src="img/promo-manager.png" alt="" class="promo-manager__photo">
    </div>
    <div class="promo-tour">
      <img src="img/svg/promo-tour-arrow.svg" alt="" class="promo-tour__arrow">
      <img src="img/promo-tour.png" alt="" class="promo-tour__photos">
      <h3 class="promo-tour__title">За 7 насыщенных дней покажем вам <span>самые яркие места дагестана</span></h3>
      <p>Поднимемся на <b>2000 метров на комфортном транспорте по горному серпантину, промчимся на бирюзовой реке на катере, сытно покушаем</b>, сладко поспим в уютных номерах высоко в горах и познакомимся с искренним гостеприимством дагестанского народа</p>
      <div class="btn-wrap"><a href="#" class="btn"><p>подобрать дату</p></a></div>
    </div>
  </div>
</section>

<section class="showreel">
  <a href="#" data-fancybox class="showreel-video"><img src="img/showreel.jpg" alt="" loading="lazy"></a>
</section>

<section class="vacation">
  <div class="container">
    <h2 class="title">дагестан – <span>лучшее место</span> для вашего отпуска</h2>
    <h3 class="subtitle">Здесь вы найдете то, что <span>придется вам по душе</span></h3>
    <div class="vacation-grid">
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-1.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для любителей природы</h3>
        <div class="vacation-text">
          <p>Станьте главным героем популярных reels!</p>
          <p>Откройте для себя <b>красоту всех континентов, не выезжая из страны:</b></p>
          <p>теплое каспийское море, скалистые горы, песчаные барханы, село-призрак (дагестанский Мачу-Пикчу), горные террасы, как в Азии, вершинные долины,как в Альпах…</p>
        </div>
      </div>
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-2.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для любителей адреналина</h3>
        <div class="vacation-text">
          <p>В Дагестане вас ждет <b>невероятное разнообразие экстремального отдыха:</b> почувствуйте себя орлом, парящим над горной рекой, прокатившись на ziplane.</p>
          <p>Ощутите на себе силу притяжения земли, прыгнув с тарзанкой с подвесного моста в пропасть. Прокатитесь со скоростью ветра на катерах, рассекая водную гладь.</p>
        </div>
      </div>
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-3.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для любителей вкусно покушать</h3>
        <div class="vacation-text">
          <p><b>Дагестан — настоящий рай для гурманов!</b> Форель, баранина, козий сыр, спелые фрукты и свежие овощи, ароматные супы и сладкие компоты — это лишь малый перечень, что вы попробуете.</p>
          <p>Будьте уверены, что каждый кулинарный шедевр, приготовленный в дагестанском стиле, покорит вас своей неповторимостью и безупречным вкусом.</p>
        </div>
      </div>
      <div class="vacation-item">
        <div class="vacation-bg"><img src="img/vacation-bg-4.jpg" alt="" loading="lazy"></div>
        <h3 class="vacation-title">для Для тех, кто хочет перезагрузиться от городской суеты</h3>
        <div class="vacation-text">
          <p><b>В самом сердце Кавказских гор Дагестан предлагает уникальные возможности для отдыха и восстановления сил.</b></p>
          <p>Встречая рассвет в горах или наслаждаясь закатом на берегу моря, вы ощутите истинное умиротворение и покой.</p>
          <p>А прогулки по горам позволят вам полностью расслабиться и освежиться, насладиться тишиной и покоем, которые так не хватает в городской суете.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="about-main">
    <div class="container">
      <h2 class="title">С нами вам будет <span>комфортно, интересно, уютно и вкусно</span></h2>
      <h3 class="subtitle">При создании данного тура мы уделили внимание <i>мелочам</i>, которые будут вас окружать каждый день, чтобы вы сполна насладились своим отпуском</h3>
      <div class="about-list">
        <div class="about-row">
          <div class="about-group">
            <h4>Формат тура</h4>
            <p>малая группа</p>
          </div>
          <div class="about-group">
            <h4>Кол-во туристов</h4>
            <p>до 16</p>
          </div>
          <div class="about-group">
            <h4>Допустимый возраст</h4>
            <p>от 8 до 80</p>
          </div>
        </div>
        <div class="about-row">
          <div class="about-group">
            <h4>Комфорт*</h4>
            <p>рейтинг 4 из 5</p>
            <span data-stars="4"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Сложность</h4>
            <p>рейтинг 1 из 5</p>
            <span data-stars="1"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Насыщенность</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Цена-качество</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
        </div>
        <div class="about-row">
          <div class="about-group">
            <h4>Транспорт</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Программа</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Отели</h4>
            <p>рейтинг 3 из 5</p>
            <span data-stars="3"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="about-group">
            <h4>Еда</h4>
            <p>рейтинг 5 из 5</p>
            <span data-stars="5"><i></i><i></i><i></i><i></i><i></i></span>
          </div>
        </div>
      </div>
      <div class="about-grid">
        <div class="about-item">
          <img src="img/about-1.jpg" alt="">
          <h4>Автобус повышенного комфорта</h4>
          <p>на котором вас встретим и отвезем до аэропорта <span>(usb-зарядка на каждом месте, кондиционер, просторные и раскладывающиеся кресла)</span></p>
        </div>
        <div class="about-item">
          <img src="img/about-2.jpg" alt="">
          <h4>Харизматичный гид</h4>
          <p>который не только познакомит вас с историей, культурой и традициями Дагестана, но и создаст дружелюбную атмосферу в коллективе</p>
        </div>
        <div class="about-item">
          <img src="img/about-3.jpg" alt="">
          <h4>Уютные гостиницы</h4>
          <p>для комфортного отдыха после насыщенного дня. <span>Выбрали самое лучшее из возможных вариантов</span></p>
        </div>
        <div class="about-item">
          <img src="img/about-4.jpg" alt="">
          <h4>Национальные блюда</h4>
          <p>Сытные и вкусные национальные блюда, которые не только утолят ваш голод, но и расширят ваше сознание</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="programm">
  <div class="container">
    <h2 class="title"><span>посетим все самые захватывающие места</span> дагестана и не только...</h2>
    <h3 class="subtitle">Представьте себе, что вы отправляетесь <span>в незабываемое путешествие</span>, где каждый момент наполнен приключениями и невероятными эмоциями</h3>
    <ul class="programm-days">
      <li class="active">День 1</li>
      <li>День 2</li>
      <li>День 3</li>
      <li>День 4</li>
      <li>День 5</li>
      <li>День 6</li>
      <li>День 7</li>
    </ul>
    <div class="programm-wrapper">
      <div class="programm-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">1 день</span>
                  <img src="img/programm-1.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Сбор туристов</h3>
                  <ul class="programm-day__list">
                    <li>Персональная встреча из аэропорта или жд вокзала в Махачкале</li>
                    <li>Трансфер комфорт класса до гостиницы в городе Каспийск</li>
                    <li>Размещение в гостевом доме Царский двор <span>(в первый день питание не включено)</span></li>
                    <li>Свободное время для отдыха в отеле или прогулки по побережью Каспийского моря</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="programm-day">
              <div class="programm-row">
                <div class="programm-col">
                  <span class="programm-day__label">2 день</span>
                  <img src="img/programm-2.jpg" alt="" loading="lazy" class="programm-day__poster">
                </div>
                <div class="programm-col">
                  <h3 class="programm-day__title">Древний город Дербент и крепость Нарын-Кала</h3>
                  <ul class="programm-day__list">
                    <li>Завтрак в 7:30</li>
                    <li>Выезд в Дербент</li>
                    <li>Экраноплан Лунь</li>
                    <li>Обед</li>
                    <li>Крепость Нарын-Кала</li>
                    <li>Прогулка по старым кварталам города – Магалам</li>
                    <li>Джума мечеть <span>(самая древняя мечеть на территории России)</span></li>
                    <li>Сувенирный магазин «ЭТОДОМ»</li>
                    <li>Возвращаемся в гостиницу</li>
                    <li>Ужин</li>
                    <li><span>Восстанавливаем силы и готовимся к восхождению в горы</span></li>
                  </ul>
                </div>
              </div>
              <div class="programm-row">
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="programm-col">
                  <div class="programm-accordion">
                    <div class="programm-accordion__title"><h4>Экраноплан Лунь</h4><span></span></div>
                    <div class="programm-accordion__main">
                      <div class="programm-accordion__content">
                        <p>Это глубокое ущелье, вырезанное рекой Карадах в горах Кавказа. Теснина простирается на несколько километров и отличается своей величественной красотой и неповторимым ландшафтом.</p>
                        <p>Воздух наполнен свежестью и ароматом дикой природы.</p>
                        <img src="img/programm-accordion-1.jpg" alt="" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="programm-control">
      <div class="programm-prev"><p><span>Предыдущий</span><br><span>день</span></p></div>
      <div class="programm-dots"></div>
      <div class="programm-next"><p><span>Следующий</span><br><span>день</span></p></div>
    </div>
  </div>
</section>

<section class="showreel showreel-v2">
  <div class="container">
    <h2 class="title"><span>Посмотрите</span><br> видео с нашего тура</h2>
    <h3 class="subtitle">и прочувствуйте <span>атмосферу насыщенных дней</span> в Дагестане</h3>
  </div>
  <a href="#" data-fancybox class="showreel-video"><img src="img/showreel-2.jpg" alt="" loading="lazy"></a>
</section>

<section class="travel">
  <div class="container">
    <h2 class="title">То самое путешествие, в котором вы сможете <span>по-настоящему отдохнуть телом и душой</span></h2>
    <h3 class="subtitle">Не думать ни о чем! Расслабиться и доверить организацию вашего отпуска профессионалам</h3>
    <div class="travel-block">
      <img src="img/svg/travel-plane.svg" alt="" class="travel-plane">
      <h3 class="travel-title">В стоимость тура входит <span>все и даже больше...</span></h3>
      <ul class="travel-list">
        <li><span>Транспорт класса комфорт+</span></li>
        <li><span>3х разовое питание</span> на каждый день</li>
        <li><span>Проживание</span> в уютных отелях и аутентичных гостевых домах</li>
        <li><span>Посещение всех локаций</span> по маршруту</li>
        <li>Приветственные <span>подарки и другие сюрпризы</span> от команды «Хочу в Дагестан»</li>
      </ul>
      <h4 class="travel-price">39.900р</h4>
      <span class="travel-info">без учета личных расходов</span>
    </div>
  </div>
</section>

<section class="price">
  <div class="container">
    <h2 class="title"><span>что входит в стоимость?</span></h2>
  </div>
</section>

{% endblock %}